name: Bump version
on:
  push:
    branches:
      - main
jobs:
  semantic:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v3
        with:
          dry_run: "false"
          install_plugins: "semantic-release-docker semantic-release-gcr"
          branch: main
